@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
  h1 {
    @apply mb-4 text-3xl font-semibold text-slate-800;
  }
  h2 {
    @apply mb-2 text-2xl font-semibold text-slate-800;
  }
  h3 {
    @apply mb-2 text-lg font-semibold text-slate-800;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply border-b border-blue-500 text-blue-500 hover:text-blue-700;
  }

  ul {
    @apply my-6 list-inside list-disc;
  }
  ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 3em;
  }
}

@layer components {
  .btn-secondary {
    @apply rounded-md border border-gray-300 bg-gray-100 py-2 px-4 font-semibold  hover:bg-gray-200 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50;
  }
  .btn-primary {
    @apply rounded-md border-0 bg-orange-600 py-2 px-4 font-semibold text-white shadow-md hover:bg-orange-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-50;
  }
  .nav-link {
    @apply mr-2 block cursor-pointer rounded border-0 bg-orange-600 px-2 py-1 font-bold tracking-tight text-white hover:bg-orange-700 hover:text-white md:mr-0 md:bg-white  md:text-inherit md:hover:bg-white md:hover:bg-white md:hover:text-orange-500;
  }
  .card-container {
    @apply mb-4 flex flex-col flex-wrap items-center justify-center md:flex-row md:items-stretch;
  }
  .card-350 {
    @apply m-4 max-w-[350px] rounded border border-slate-300 p-4 text-center;
  }
  .history-item {
    @apply my-4 rounded border border-slate-300 p-1 pl-4 pt-2;
  }
}
.none {
  @apply border-green-200 bg-green-50;
}
.work {
  @apply border-blue-200 bg-blue-50;
}
.silver {
  @apply bg-slate-50;
}
.home {
  @apply border-orange-200 bg-orange-50;
}
.personal {
  @apply border-purple-200 bg-purple-50;
}
.car {
  @apply border-red-200 bg-red-50;
}
.code {
  @apply border-teal-200 bg-teal-50;
}
